<h1 style="text-align: center">User Page</h1>
<ul>
    <li><a href="/user/addUser" style="font-size: 24px; font-weight: bolder">Add new User</a></li>
    <li><a href="/user/deleteUser" style="font-size: 24px; font-weight: bolder">Delete User</a></li>
</ul>